absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncio==3.4.3
attrs==23.2.0
Babel==2.15.0
backoff==2.2.1
bce-python-sdk==0.9.29
bcrypt==4.3.0
beautifulsoup4==4.12.3
bertopic==0.17.0
bleach==6.1.0
blinker==1.9.0
build==1.2.2.post1
cachetools==5.5.2
category-encoders==2.6.4
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==1.0.5
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
contourpy==1.2.1
cryptography==44.0.2
cycler==0.12.1
dask==2024.6.2
dataclasses-json==0.6.7
datasets==3.5.0
DBUtils==3.1.0
debugpy==1.8.1
decorator==5.1.1
deepmerge==2.1.0
defusedxml==0.7.1
Deprecated==1.2.18
dill==0.3.4
distributed==2024.6.2
distro==1.9.0
durationpy==0.9
et-xmlfile==1.1.0
executing==2.0.1
factor_analyzer==0.5.1
faiss-cpu==1.10.0
fake-useragent==2.1.0
fastapi==0.115.9
fastjsonschema==2.20.0
Flask==3.1.0
flask-babel==4.0.0
flatbuffers==24.3.25
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
future==1.0.0
gast==0.6.0
google-auth==2.39.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gpt4all==2.7.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.68.0
h11==0.14.0
h5py==3.13.0
hdbscan==0.8.40
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.7
imblearn==0.0
importlib_metadata==7.2.1
importlib_resources==6.5.2
ipykernel==6.29.4
ipython==8.25.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
jieba==0.42.1
jiter==0.9.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_ai==2.31.4
jupyter_ai_magics==2.31.4
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.13
keras==3.7.0
kiwisolver==1.4.5
kubernetes==32.0.1
langchain==0.3.24
langchain-community==0.0.38
langchain-core==0.3.63
langchain-deepseek==0.1.3
langchain-huggingface==0.1.2
langchain-openai==0.3.18
langchain-text-splitters==0.3.8
langsmith==0.3.34
libclang==18.1.1
locket==1.0.0
lxml==5.3.2
Markdown==3.8
markdown-it-py==3.0.0
marshmallow==3.21.3
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
MiniSom==2.3.5
mistune==3.0.2
ml_dtypes==0.5.1
mlxtend==0.23.3
mmh3==5.1.0
monotonic==1.6
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.12.2
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
onnx==1.17.0
onnxruntime==1.21.1
openai==1.75.0
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
opt-einsum==3.3.0
optree==0.13.1
orjson==3.10.5
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
paddle2onnx==1.3.1
paddlefsl==1.1.0
paddlenlp==2.6.1
paddlepaddle==3.0.0b2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
patsy==0.5.6
pillow==10.3.0
platformdirs==4.2.2
ply==3.11
posthog==3.25.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.29.4
psutil==6.0.0
PuLP==2.9.0
pure-eval==0.2.2
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.3
pydantic_core==2.33.1
PyExecJS==1.5.1
Pygments==2.18.0
PyMySQL==1.1.1
pynndescent==0.5.13
pyparsing==3.1.2
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-json-logger==2.0.7
pytz==2024.1

pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.2.0
rarfile==4.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.18.1
rsa==4.9.1
safetensors==0.5.3
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
selenium==4.21.0
Send2Trash==1.8.3
sentence-transformers==4.0.2
sentencepiece==0.2.0
seqeval==1.2.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.31
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.14.2
tblib==3.0.0
tenacity==8.4.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0

termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.3.0
tk==0.1.0
tokenizers==0.21.1
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.51.3
trio==0.27.0
trio-websocket==0.11.1
typer==0.15.2
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.1
umap-learn==0.5.7
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.34.2
visualdl==2.5.3
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.17.0
wsproto==1.2.0
xgboost==2.1.2
xlwt==1.3.0
xxhash==3.5.0
yarl==1.9.4
zict==3.0.0
zipp==3.19.2
zstandard==0.23.0
